/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
* Leonel
*/
/**VARIABLES */
/**COLORES */
/**FUENTES */
/**Roboto Mono*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
/**Dosis */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
/**VARIABLES END*/
/** CONFIGURACION GENERAL */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff0e5 !important;
  margin: 0 auto;
}

a,
p {
  font-family: "Prompt", sans-serif;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Libre Baskerville", serif;
  font-size: 2.5rem !important;
}

input,
select {
  font-size: 1.2rem !important;
  font-family: "Prompt", sans-serif !important;
}

.text-head {
  font-size: 5rem !important;
  padding: 40px 0px 40px 0px !important;
}

.background-aside {
  background-color: #3a10e5;
  color: #fff0e5 !important;
  border-radius: 5px;
  opacity: 0.9;
}

.form-control:focus {
  border-color: #fff0e5 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #10162f !important;
}

.form-select:focus {
  border-color: #fff0e5 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #10162f !important;
}

/** CONFIGURACION GENERAL END*/
/** HEADER y NAVBAR**/
.contenedor-principal .header {
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
.contenedor-principal .header nav {
  background-color: #fff0e5 !important;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-brand:hover {
  background-color: #fff0e5 !important;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-brand i {
  font-size: 3rem !important;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-nav {
  justify-content: center;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-nav li a {
  display: inline-block !important;
  color: #10162f !important;
  font-size: 1rem;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-nav li a:hover {
  background-color: transparent !important;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-nav li a::after {
  display: block;
  content: "";
  border-bottom: solid 3px #10162f;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-nav li a:hover::after {
  transform: scaleX(1);
}
.contenedor-principal .header nav .btn-carrito {
  margin-top: 5px;
  font-size: 1.2rem;
}
.contenedor-principal .header nav .btn-carrito a {
  color: #10162f;
}
.contenedor-principal .header .contanedor-header .row {
  display: grid;
  grid-template-areas: "header-logo" "header-content";
  grid-template-columns: 1fr;
  grid-template-rows: 1;
  width: 100%;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
}
.contenedor-principal .header .contanedor-header .row .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff0e5 !important;
  grid-area: header-content;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s;
  padding: 20px;
  margin: 0;
}
.contenedor-principal .header .contanedor-header .row .header-content h3 {
  text-align: center;
  color: #10162f !important;
  font-size: 3.5rem !important;
  font-family: "Libre Baskerville", serif;
}
.contenedor-principal .header .contanedor-header .row .header-content p {
  text-align: center;
  color: #3a10e5 !important;
  font-size: 1.5rem;
  border: 2px solid #3a10e5;
  padding: 20px;
  transition: 0.3s;
  font-family: "Prompt", sans-serif !important;
}
.contenedor-principal .header .contanedor-header .row .header-content p:hover {
  box-shadow: -10px 8px 0px 0px rgb(58, 16, 229);
}
.contenedor-principal .header .contanedor-header .row .header-logo {
  grid-area: header-logo;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff0e5;
}
.contenedor-principal .header .contanedor-header .row .header-logo img {
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 990px) and (min-width: 625px) {
  .contenedor-principal .header .contanedor-header .row {
    display: grid;
    grid-template-areas: "header-logo header-content";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
  }
  .contenedor-principal .header .contanedor-header .row .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff0e5;
    grid-area: header-content;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s;
  }
  .contenedor-principal .header .contanedor-header .row .header-content h3 {
    color: white;
    font-size: 3.5rem !important;
  }
  .contenedor-principal .header .contanedor-header .row .header-content p {
    color: #3a10e5;
    font-size: 1.5rem;
  }
  .contenedor-principal .header .contanedor-header .row .header-logo {
    grid-area: header-logo;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .contenedor-principal .header .contanedor-header .row .header-logo img {
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
  }
}
/** HEADER Y NAVBAR END **/
/** CONFIGURACION ESQUELETO MAIN */
.contenedor-main {
  display: grid;
  grid-template-areas: "parallax-bg-1" "mas-vendidos";
  grid-template-columns: 1;
  grid-template-rows: 1;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
.contenedor-main .parallax-bg-1 {
  grid-area: parallax-bg-1;
  width: 100% !important;
  margin: 0 !important;
  padding: 0px;
  background-image: url("../images/inicio/bike-parallax-2.jpg");
  filter: grayscale(100%);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-main .parallax-bg-1 .contenedor-parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff0e5;
  padding: 50px 0px 50px 0px !important;
  margin: 20px;
}
.contenedor-main .parallax-bg-1 .contenedor-parallax h1 {
  color: #fff0e5;
  font-family: "Libre Baskerville", serif !important;
  font-size: 1.5rem !important;
  text-align: center;
  padding: 20px 0px 20px 0px !important;
}
.contenedor-main .parallax-bg-1 .contenedor-parallax a {
  text-decoration: none;
  font-size: 1rem !important;
  font-family: "Prompt", sans-serif;
  border: 2px solid #fff0e5;
  color: #fff0e5 !important;
  padding: 5px 20px 5px 20px;
  transition: 0.3s;
  font-weight: 600;
}
.contenedor-main .parallax-bg-1 .contenedor-parallax a:hover {
  background-color: #fff0e5 !important;
  color: #10162f !important;
}
.contenedor-main .mas-vendidos {
  width: 100%;
  background-color: #10162f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 20px 0px;
}
.contenedor-main .mas-vendidos h2 {
  font-family: "Libre Baskerville", serif;
  color: #fff0e5;
  font-size: 1.8rem !important;
  text-align: center;
  padding: 50px 0px;
}
.contenedor-main .mas-vendidos .contenedor-card {
  margin-top: 20px;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.contenedor-main .mas-vendidos .contenedor-card .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;
}
.contenedor-main .mas-vendidos .contenedor-card .row .card-producto {
  display: flex;
  height: 100px;
  background-color: transparent;
  border: 2px solid #3a10e5;
}
.contenedor-main .mas-vendidos a {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-size: 0.9rem !important;
  color: #ffd300;
  text-decoration: none;
}

/** MAIN MEDIA QUERIES */
/** CONFIGURACION ESQUELETO MAIN END */
/** FOOTER */
.footer {
  border-top: 2px solid #10162f;
  background-color: #fff0e5;
  color: #10162f !important;
}
.footer .menu-redes-sociales a {
  font-size: 3rem;
  margin-top: 20px;
  color: #10162f !important;
  transition: 0.2s !important;
  font-family: "Prompt", sans-serif !important;
}
.footer .menu-redes-sociales a:hover {
  background-color: #3a10e5;
  color: #ffd300;
  color: #ffd300 !important;
}
.footer .menu-footer a {
  color: #10162f !important;
  font-size: 1.2rem;
  opacity: 0.9;
  transition: 0.2s !important;
}
.footer .menu-footer a:hover {
  background-color: #3a10e5;
  color: #ffd300 !important;
  opacity: 1;
}

/** FOOTER END *//*# sourceMappingURL=style.css.map */