/**VARIABLES */
/**COLORES */
$color-uno: #233142;
$color-dos: #455d7a;
$color-tres: #f95959;
$color-cuatro: #e3e3e3;

/**FUENTES */

/**VARIABLES END*/

/** CONFIGURACION GENERAL */
html {
   box-sizing: border-box;
}
*,
*:before,
*:after {
   box-sizing: inherit;
}
body {
   background-color: $color-cuatro;
}
/** CONFIGURACION GENERAL END*/

/** HEADER **/
.contenedor-principal {
   .header {
      img {
         max-width: 100%;
      }
   }
}
/** HEADER END **/

/** NAVBAR */
.nav-principal {
   margin-right: 0px !important;
}
/** NAVBAR */

/** CONFIGURACION ESQUELETO MAIN*/
.main {
   display: flex;
   .aside-categorias {
      display: none;
   }
   .contenedor-card-busqueda {
      grid-area: contenedor-card-busqueda;
   }
}

@media (min-width: 990px) and (min-width: 625px) {
   .main {
      display: grid;
      width: 100%;
      grid-template-areas: "aside contenedor-card-busqueda";
      grid-template-rows: 2;
      grid-template-columns: 1fr 4fr;

      .aside-categorias {
        display: flex;
         grid-area: aside;
      }
      .contenedor-card-busqueda {
         grid-area: contenedor-card-busqueda;

        #select-categorias {
            display: none;
        }

      }
   }
}

/** CONFIGURACION ESQUELETO MAIN END */
