/**VARIABLES */
/**COLORES */
/**FUENTES */
/**Roboto Mono*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
/**Dosis */
@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300&display=swap");
/**VARIABLES END*/
/** CONFIGURACION GENERAL */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #e3e3e3;
}

a,
p {
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  text-decoration: none;
}

a {
  color: black !important;
  margin: 10px;
  border-radius: 5px !important;
}
a:hover {
  background-color: #f95959 !important;
  color: white !important;
  border-radius: 5px !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem !important;
}

input,
select {
  font-size: 1.2rem !important;
  font-family: "Kantumruy Pro", sans-serif !important;
}

.text-head {
  font-size: 5rem !important;
  padding: 40px 0px 40px 0px !important;
}

.background-aside {
  background-color: #f95959;
  color: white !important;
  border-radius: 5px;
  opacity: 0.8;
  border-bottom: 1px solid #f95959;
}

/** CONFIGURACION GENERAL END*/
/** HEADER **/
.contenedor-principal .header {
  background-color: #233142;
  color: white !important;
}
.contenedor-principal .header img {
  max-width: 100%;
}

/** HEADER END **/
/** NAVBAR */
.nav-principal {
  margin-right: 0px !important;
  color: #e3e3e3 !important;
}

/** NAVBAR */
/** CONFIGURACION ESQUELETO MAIN*/
.main {
  display: flex;
}
.main .aside-categorias {
  display: none;
}
.main .contenedor-card-busqueda {
  grid-area: contenedor-card-busqueda;
}
.main .section-productos {
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.main .section-productos .productos-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  gap: 5px;
}
.main .section-productos .productos-column .card {
  border: 0.3px solid rgba(0, 0, 0, 0.2);
  margin: 5px;
  box-shadow: 0px 3px 11px -2px rgba(0, 0, 0, 0.75);
}
.main .section-productos .productos-column .card:hover {
  box-shadow: 3px 3px 33px 1px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}
.main .section-productos .productos-column .card img {
  margin: 0 auto;
  max-width: 100%;
}
.main .section-productos .productos-column .card .card-body h4 {
  text-align: center;
  background-color: #233142;
  color: white;
  padding: 5px;
}
.main .section-productos .productos-column .card .card-body ul {
  padding: 20px;
  list-style: none;
  line-height: 30px;
  font-size: 1.2rem;
  font-family: "Kantumruy Pro", sans-serif;
}
.main .section-productos .productos-column .card .card-body a {
  display: block;
  color: black !important;
  font-size: 1.2rem;
  font-family: "Kantumruy Pro", sans-serif;
}
.main .section-productos .productos-column .card .card-body a:hover {
  color: white !important;
  border: none !important;
  background-color: #455d7a !important;
}

@media (min-width: 990px) and (min-width: 625px) {
  .main {
    display: grid;
    width: 100%;
    grid-template-areas: "aside contenedor-card-busqueda";
    grid-template-rows: 2;
    grid-template-columns: 1fr 4fr;
  }
  .main .aside-categorias {
    display: flex;
    grid-area: aside;
    height: 500px;
  }
  .main .aside-categorias h2 {
    font-size: 2.5rem;
  }
  .main .contenedor-card-busqueda {
    grid-area: contenedor-card-busqueda;
  }
  .main .contenedor-card-busqueda #select-categorias {
    display: none;
  }
  .main .contenedor-card-busqueda .section-productos .card {
    border: 0.3px solid rgba(0, 0, 0, 0.2);
    margin: 5px;
    box-shadow: 0px 3px 11px -2px rgba(0, 0, 0, 0.75);
  }
  .main .contenedor-card-busqueda .section-productos .card:hover {
    box-shadow: 3px 3px 33px 1px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
  }
}
/** CONFIGURACION ESQUELETO MAIN END */
/** FOOTER */
.footer {
  background-color: #233142;
  color: white !important;
}
.footer .menu-redes-sociales a {
  font-size: 3rem;
  margin-top: 20px;
  color: white !important;
}
.footer .menu-redes-sociales a:hover {
  background-color: #f95959;
  color: #233142 !important;
  border-radius: 5px;
}
.footer .menu-footer a {
  color: white !important;
}
.footer .menu-footer a:hover {
  background-color: #f95959;
  border-radius: 5px;
}

/** FOOTER END *//*# sourceMappingURL=style.css.map */