/**VARIABLES */
/**COLORES */
$color-uno: #233142;
$color-dos: #455d7a;
$color-tres: #f95959;
$color-cuatro: #e3e3e3;

/**FUENTES */

/**VARIABLES END*/

/** CONFIGURACION GENERAL */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background-color: $color-cuatro;
}
/** CONFIGURACION GENERAL END*/

/** HEADER **/
.contenedor-principal{
    .header{
        img{
            max-width: 100%;
        }
    }
}
/** HEADER END **/

/** NAVBAR */
.nav-principal {
    margin-right: 0px!important;
}
/** NAVBAR */

/** CONFIGURACION ESQUELETO MAIN*/
.main {
    display: grid;
    width: 100%;
    grid-template-areas: "search"
                         "aside productos";
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 1fr;
}


/** CONFIGURACION ESQUELETO MAIN END */