/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
* Leonel
*/
/**VARIABLES */
/**COLORES */
/**FUENTES */
/**Roboto Mono*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
/**Dosis */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
/**VARIABLES END*/
/** CONFIGURACION GENERAL */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff0e5 !important;
  margin: 0 auto;
}

a,
p {
  font-family: "Prompt", sans-serif;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Libre Baskerville", serif;
  font-size: 2.5rem !important;
}

input,
select {
  font-size: 1.2rem !important;
  font-family: "Prompt", sans-serif !important;
}

.text-head {
  font-size: 5rem !important;
  padding: 40px 0px 40px 0px !important;
}

.background-aside {
  background-color: #3a10e5;
  color: #fff0e5 !important;
  border-radius: 5px;
  opacity: 0.9;
}

.form-control:focus {
  border-color: #fff0e5 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #10162f !important;
}

.form-select:focus {
  border-color: #fff0e5 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #10162f !important;
}

/** CONFIGURACION GENERAL END*/
/** HEADER y NAVBAR**/
.contenedor-principal .header nav {
  background-color: #fff0e5 !important;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-brand:hover {
  background-color: #fff0e5 !important;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-brand i {
  font-size: 3rem !important;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-nav {
  justify-content: center;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-nav li a {
  display: inline-block !important;
  color: #10162f !important;
  font-size: 1rem;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-nav li a:hover {
  background-color: transparent !important;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-nav li a::after {
  display: block;
  content: "";
  border-bottom: solid 3px #10162f;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.contenedor-principal .header nav #navbarSupportedContent .navbar-nav li a:hover::after {
  transform: scaleX(1);
}
.contenedor-principal .header nav .btn-carrito {
  margin-top: 5px;
  font-size: 1.2rem;
}
.contenedor-principal .header nav .btn-carrito a {
  color: #10162f;
}
.contenedor-principal .header .contanedor-header .row {
  display: grid;
  grid-template-areas: "header-logo" "header-content";
  grid-template-columns: 1fr;
  grid-template-rows: 1;
  width: 100%;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
}
.contenedor-principal .header .contanedor-header .row .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3a10e5 !important;
  grid-area: header-content;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s;
  padding: 20px;
  margin: 0;
}
.contenedor-principal .header .contanedor-header .row .header-content h3 {
  text-align: center;
  color: #fff0e5 !important;
  font-size: 3.5rem !important;
  font-family: "Libre Baskerville", serif;
}
.contenedor-principal .header .contanedor-header .row .header-content p {
  text-align: center;
  color: #ffd300 !important;
  font-size: 1.5rem;
  border: 2px solid #ffd300;
  padding: 20px;
  transition: 0.3s;
}
.contenedor-principal .header .contanedor-header .row .header-content p:hover {
  box-shadow: -10px 8px 0px 0px #ffd300;
}
.contenedor-principal .header .contanedor-header .row .header-logo {
  grid-area: header-logo;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #3a10e5;
}
.contenedor-principal .header .contanedor-header .row .header-logo img {
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 990px) and (min-width: 625px) {
  .contenedor-principal .header .contanedor-header .row {
    display: grid;
    grid-template-areas: "header-logo header-content";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    width: 100%;
    height: 100%;
  }
  .contenedor-principal .header .contanedor-header .row .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff0e5;
    grid-area: header-content;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s;
  }
  .contenedor-principal .header .contanedor-header .row .header-content h3 {
    color: white;
    font-size: 3.5rem !important;
  }
  .contenedor-principal .header .contanedor-header .row .header-content p {
    color: #3a10e5;
    font-size: 1.5rem;
  }
  .contenedor-principal .header .contanedor-header .row .header-logo {
    grid-area: header-logo;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .contenedor-principal .header .contanedor-header .row .header-logo img {
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
  }
}
/** HEADER Y NAVBAR END **/
/** CONFIGURACION ESQUELETO MAIN */
.contenedor-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor-main .marketplace-h2 {
  padding: 20px !important;
  margin: 50px 0px 50px 0px !important;
  text-align: center;
  display: inline-block;
  align-items: center;
  border: 2px solid #10162f;
}
.contenedor-main .main {
  display: flex;
}
.contenedor-main .main .aside-categorias {
  display: none;
}
.contenedor-main .main .contenedor-busqueda {
  width: 80% !important;
}
.contenedor-main .main .contenedor-busqueda .section-busqueda input {
  font-size: 1rem !important;
  border: 1px solid black !important;
  border-radius: 0px !important;
}
.contenedor-main .main .contenedor-busqueda .section-busqueda select {
  font-size: 1rem !important;
  border: 1px solid black !important;
  border-radius: 0px !important;
}
.contenedor-main .main .contenedor-busqueda #cantidad-resultados {
  text-align: center;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
.contenedor-main .main .contenedor-busqueda #productos-not-found {
  background-color: #fff0e5 !important;
  color: #10162f;
}
.contenedor-main .main .section-productos {
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.contenedor-main .main .section-productos .productos-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
.contenedor-main .main .section-productos .productos-column .card {
  transition: 0.3s;
  border: 1px solid #10162f;
  border-radius: 0px !important;
}
.contenedor-main .main .section-productos .productos-column .card img {
  margin: 0 auto;
  width: 300px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.contenedor-main .main .section-productos .productos-column .card .card-body h4 {
  text-align: center;
  color: #fff0e5;
  background-color: #3a10e5;
  padding: 5px;
  font-size: 1.5rem !important;
  font-family: "Libre Baskerville", serif;
}
.contenedor-main .main .section-productos .productos-column .card .card-body ul {
  padding: 5px;
  list-style: none;
  line-height: 30px;
  font-size: 1.1rem;
  font-family: "Prompt", sans-serif;
  text-align: center;
}
.contenedor-main .main .section-productos .productos-column .card .card-body p {
  font-size: 1.1rem !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 700;
}
.contenedor-main .main .section-productos .productos-column .card .card-body a {
  display: block;
  color: #3a10e5;
  font-size: 1rem;
  font-family: "Prompt", sans-serif;
  opacity: 0.8 !important;
  transition: 0.3s !important;
  font-weight: 700;
  border-radius: 0px;
}
.contenedor-main .main .section-productos .productos-column .card .card-body a:hover {
  color: #ffd300 !important;
  border: 1px solid #10162f !important;
  background-color: #3a10e5 !important;
  opacity: 1 !important;
}

/** MAIN MEDIA QUERIES */
@media (min-width: 990px) and (min-width: 625px) {
  .contenedor-main .main {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-template-areas: "aside contenedor-card-busqueda";
    -ms-grid-rows: 2;
    grid-template-rows: 2;
    -ms-grid-columns: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
  }
  .contenedor-main .main .aside-categorias {
    display: flex;
    grid-area: aside;
    height: 500px;
  }
  .contenedor-main .main .aside-categorias li {
    width: 100%;
  }
  .contenedor-main .main .aside-categorias li a {
    border-radius: 0px !important;
    text-align: center;
    font-family: "Prompt", sans-serif;
    padding: 10px;
    color: #10162f;
  }
  .contenedor-main .main .aside-categorias li a:hover {
    background-color: #3a10e5 !important;
    color: #fff0e5;
  }
  .contenedor-main .main .aside-categorias h2 {
    font-family: "Libre Baskerville", serif !important;
    border: 2px solid #10162f;
    font-size: 1.9rem !important;
    margin-bottom: 0px !important;
    padding: 20px;
    margin-bottom: 10px !important;
  }
  .contenedor-main .main .contenedor-card-busqueda {
    grid-area: contenedor-card-busqueda;
  }
  .contenedor-main .main .contenedor-card-busqueda .contenedor-busqueda {
    width: 50%;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  .contenedor-main .main .contenedor-card-busqueda #select-categorias {
    display: none;
  }
  .contenedor-main .main .contenedor-card-busqueda .section-productos .card:hover {
    box-shadow: -10px 8px 0px 0px rgb(16, 22, 47);
  }
  .contenedor-main .main .contenedor-card-busqueda .section-productos .card .card-body h4 {
    font-size: 1.2rem;
  }
}
@media (min-width: 990px) and (min-width: 625px) {
  .aside-categorias {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contenedor-card-busqueda {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}
/** CONFIGURACION ESQUELETO MAIN END */
/** FOOTER */
.footer {
  border-top: 2px solid #10162f;
  background-color: #fff0e5;
  color: #10162f !important;
}
.footer .menu-redes-sociales a {
  font-size: 3rem;
  margin-top: 20px;
  color: #10162f !important;
  transition: 0.2s !important;
  font-family: "Prompt", sans-serif !important;
}
.footer .menu-redes-sociales a:hover {
  background-color: #3a10e5;
  color: #ffd300;
  color: #ffd300 !important;
}
.footer .menu-footer a {
  color: #10162f !important;
  font-size: 1.2rem;
  opacity: 0.9;
  transition: 0.2s !important;
}
.footer .menu-footer a:hover {
  background-color: #3a10e5;
  color: #ffd300 !important;
  opacity: 1;
}

/** FOOTER END *//*# sourceMappingURL=style.css.map */